<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="biblioApp.book.detail.title">Book</span> {{book.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="biblioApp.book.name">Name</span></dt>
                <dd>
                    <span>{{book.name}}</span>
                </dd>
                <dt><span jhiTranslate="biblioApp.book.editorial">Editorial</span></dt>
                <dd>
                    <span>{{book.editorial}}</span>
                </dd>
                <dt><span jhiTranslate="biblioApp.book.toked">Toked</span></dt>
                <dd>
                    <span>{{book.toked}}</span>
                </dd>
                <dt><span jhiTranslate="biblioApp.book.person">Person</span></dt>
                <dd>
                    <span>{{book.person}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
